<html>

<head>
    <title>Проверка веб-сайтов</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div>
        <table>
            <caption>
                История проверки сайтов
            </caption>
            <thead>
                <tr>
                    <th>Описание теста</th>
                    <th>Сайт</th>
                    <th>Параметры</th>
                    <th>Время</th>
                    <th>Статус возврата</th>
                </tr>
            </thead>
            <tbody>
                {{range . }}
                <tr>
                    <td>{{.Name}}</td>
                    <td><a href="{{.URI}}" target="_blank">{{.Site}}</a></td>
                    <td>{{.GetParamsJSON}}</td>
                    <td>{{.Time}}</td>
                    <td>{{.Status}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>

    </div>
</body>

</html>